a {
  color: #fff;
  text-decoration: none;
  cursor: auto;
}
a:hover {
  color: #009fff;
}
aside {
  border: 0.12em solid #fff;
  width: 22%;
}
aside,
section {
  display: inline-block;
  margin: 0.5em;
  padding: 0.25em;
  vertical-align: top;
}
body {
  background: #fff;
  color: #788352;
  font-size: 18px;
  height: 100%;
}
footer {
  font-size: 0.6em;
  background: #1e5773;
  color: #fff;
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2.5em;
  margin: 2em 0 0 0;
}
header {
  background: url("header_fondo.png");
  background-size: 12px 10px;
  background-repeat: repeat;
}
color colorLetraHeader,
Margin 0 0 0 0em,
Padding 0 0 0,
1em,
display inline-block,
border-radius 0,
width 100%,
height auto,
vertical-align: middle,
.header1 {
  border-radius: 0;
  Padding: 0;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 35%;
  margin: 0 0 1em 2em;
}
color colorLetraHeader h3,
Margin 0 0 0 0em h3,
Padding 0 0 0 h3,
1em h3,
display inline-block h3,
border-radius 0 h3,
width 100% h3,
height auto h3,
vertical-align: middle h3,
.header1 h3,
color colorLetraHeader img,
Margin 0 0 0 0em img,
Padding 0 0 0 img,
1em img,
display inline-block img,
border-radius 0 img,
width 100% img,
height auto img,
vertical-align: middle img,
.header1 img {
  vertical-align: bottom;
  Padding: 0;
  margin: 0;
  width: auto;
  display: inline-block;
}
.header3,
.header2 {
  display: inline-block;
  vertical-align: bottom;
  float: right;
  margin: 1% 2%;
  width: auto;
}
.header3 input,
.header2 input {
  color: #000;
}
html {
  position: relative;
  min-height: 100%;
}
nav {
  background-color: rgba(113,113,118,0.8);
  border-radius: 0.1em;
  box-shadow: 0 0 5px 1px #969696;
  margin: 1.5em 0;
  opacity: 1;
  padding: 0 0 0 0.3em;
  transition: box-shadow 0.3s;
  box-shadow: 0 0 5px 1px #969696;
  box-shadow: 0 0 5px 1px #969696;
}
nav ul {
  text-align: right;
  list-style: none;
  margin: 0;
  padding: 0px;
}
nav ul li {
  border-radius: 0.2em;
  margin: 0;
  padding: 0.2em 0.8em;
  border: 0;
  display: inline-block;
  vertical-align: top;
  transition: all 1s ease;
}
nav ul li:hover {
  background-color: rgba(113,120,120,0.8);
  transition: all 0s;
}
nav input {
  border: solid 2px #707070;
}
nav input:focus {
  border: solid 2px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
#mostrarMenu {
  display: none;
}
section {
  margin: 0.5em;
  padding: 0.25em;
  width: 70%;
}
#menuM {
  display: none;
  background: #252c37;
  border-radius: 0.75em;
  margin: 0.5em;
  padding: 0.3em 0em 0.3em 1.5em;
  width: 90%;
  overflow: hidden;
}
#menuM ul {
  list-style: none;
}
#menuM ul li {
  background: #826865;
  border-radius: 0.5em;
  margin: 0.4em;
  padding: 0.2em 0.8em;
  border: 1px solid #ccc;
  display: block;
  vertical-align: top;
}
#menuM ul li:hover {
  background: #826865;
  border: 1px solid #009fff;
}
#intUsuario {
  width: 20%;
  padding: 0;
  border: 2px solid;
}
#intUsuario article {
  border: 2px solid;
  border-radius: 0;
  margin: 0.5em;
}
#espacio {
  padding: 0.5em;
  width: 70%;
}
#intUsuario,
#espacio {
  display: inline-block;
  margin: 0.5em;
}
@media screen and (max-width: 759px) {
  #menu {
    display: none;
    text-align: center;
    margin: 1em;
  }
  #menu li {
    display: block;
    width: 30%;
    text-align: center;
    border-radius: 0.3em;
    margin: 0.3em 32%;
  }
  #mostrarMenu {
    display: block;
    border: 2px solid #fff;
    font-size: 2em;
    margin: 0 0 -0.25em;
  }
  #busqueda {
    display: none;
  }
  header .header1 {
    Padding: 0;
    display: block;
    height: 100%;
    width: 100%;
    margin: 0 0 1em 2em;
  }
  header .header1 img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  header .header3 {
    display: none;
  }
  nav {
    display: block;
    text-align: center;
    width: 50%;
    margin-left: 32%;
    margin-right: auto;
  }
}
